/* File: src/index.css */

:root {
  --primary-color: #4a7aab;  /* Aapka letterhead wala main blue */
  --dark-color: #343a40;     /* Dark grey/blue */
  --light-color: #e6f7ff;   /* Light grey background */
  --white-color: #ffffff;
  --green-color: #28a745;    /* Contact form button ke liye */
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif; /* Poori website ke liye default font */
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Sirf headings ke liye */
}